<div class="container">
    <div class="row">
      <div class="col-md-6">
        <form #addReaderForm="ngForm" (ngSubmit)="saveReader(addReaderForm.value)">
          <fieldset>
            <legend>Add Reader</legend>
            <div class="form-group">
              <label for="inputGoal">Name</label>
              <input type="text" class="form-control" id="inputGoal" name="name"  placeholder="Name" ngModel>
            </div>
            <div class="form-group">
              <label for="inputGoal">Weekly Goal</label>
              <input type="text" class="form-control" id="inputGoal" name="weeklyReadingGoal"  placeholder="Weekly Goal" ngModel>
            </div>
            <div class="form-group">
              <label for="inputTotal">Total Read</label>
              <input type="text" class="form-control" id="inputTotal" name="totalMinutesRead"  placeholder="Total Minutes Read" ngModel>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
