<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form #addBookForm="ngForm" (ngSubmit)="saveBook(addBookForm.value)">
        <fieldset>
          <legend>Add New Book</legend>
          <div class="form-group">
            <label for="inputTitle">Title</label>
            <input type="text" class="form-control" id="inputTitle" name="title"  placeholder="Title" ngModel>
          </div>
          <div class="form-group">
            <label for="inputAuthor">Author</label>
            <input type="text" class="form-control" id="inputAuthor" name="author"  placeholder="Author" ngModel>
          </div>
          <div class="form-group">
            <label for="inputYear">Year</label>
            <input type="text" class="form-control" id="inputYear" name="publicationYear"  placeholder="Year Published" ngModel>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
